#!/bin/bash
# 
export LC_ALL=C
echo ==========================================================================
echo Preparing gebco file for diva
echo Cleaning up header and putting decimal dots
echo ==========================================================================

# eliminates header, changes sign of column 3 and replaces commas by dots

mkdir -p input

awk -F " " \
'{if($1 !~ /^[a-zA-Z]/) print $1,$2,-$3}' topogebco.asc | sed s/,/./g > ./input/topo.gebco

# Now eliminate region y> 57+0.6x (Norwegian coast)

#awk -F " " '{{if ($2 > 57.0+0.6*$1) {x=-10.} else {x=$3} } print $1,$2,x}' ./input/topo.gebco > bidon
#mv bidon ./input/topo.gebco
#awk -F " " '{{if ($1 < 10) {x=-10.} else {x=$3} } print $1,$2,x}' ./input/topo.gebco > bidon
#mv bidon ./input/topo.gebco

# Now you can use gebco2diva possibly with subsampling values gebco2diva 10 5 (1 on 10 in x , 1 on 5 in y)
echo ==========================================================================
echo You can now use gebco2diva in directory divastripped
echo To to so, load your data of ./input into divastripped/input and proceed
echo ==========================================================================
