
*.mod
*.nc
fort.*
*.a
*.swp
*.o
# Log files
JRA4/Climatology/divadoall.*
*.log
# Diva directories
DIVA3D/bin/
DIVA3D/divastripped/input/
DIVA3D/divastripped/logs/
DIVA3D/divastripped/output/
DIVA3D/divastripped/divawork/
DIVA3D/divastripped/meshgenwork/
DIVA3D/divastripped/gnuwork/xrangecova
DIVA3D/divastripped/3DWORK/
DIVA3D/divastripped/workexerr/rm
JRA4/Climatology/input/
JRA4/Climatology/newinput/
JRA4/Climatology/output/
JRA4/Climatology/Datawork/
